<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="IPAddress" value="127.0.0.1" />
		<add key="Port" value="13000" />
		<add key="GameDataDirectory" value="D:\.net\server\server\bin\Debug\GameData"/>
	</appSettings>
</configuration>